
::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}
::-webkit-scrollbar-track {
  background: #210002;
}
::-webkit-scrollbar-thumb {
  background: #fdba74;
  border-radius: 5px;
}

.model-container {
  width: auto;
  height: auto;
  min-width: 50px;
  display: flex;
  align-items: center;
}